body.mobile #canvas {
	position: fixed;
	left: 0px;
	top: 0px;

	padding: 0px;
	margin: 0px;
	border: 0px;
	width: 100%;
	height: 100%;

	background-image: url(../images/sky.png);
	background-repeat: repeat-x;
	background-position: center -600px;
}

body.mobile #social-box {
	display: none;
}

body.mobile #buttons {
	display: block;
}

body.mobile #life-gauge {
	position: fixed;
	left: 0px;
	top: 0px;
	margin: 20px 0px 0px 10px;
}

body.mobile table#hud {
	position: fixed;
	left: auto;
	right: 0px;
	top: 0px;
	margin: 15px 15px 0px 0px;
}

body.mobile .cover {
	position: fixed;
	left: 0px;
	top: 0px;
	padding: 0px;
	margin: 0px;
	border: 0px;
	width: 100%;
	height: 100%;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.95);
	background-size: contain;
}

body.mobile #load-gague {
	position: fixed;
	bottom: 25px;
}

body.mobile #play-button {
	position: fixed;
	bottom: 10px;
}