<?xml version="1.0"?>
<configuration>
	<system.web>
		<globalization
			requestEncoding="utf-8"
			responseEncoding="utf-8"
			fileEncoding="utf-8"
			culture="en-US"
			uiCulture="en-US" />
	</system.web>

	<system.webServer>
		<directoryBrowse enabled="false" />

		<security>
			<requestFiltering>
				<verbs allowUnlisted="false">
					<clear />
					<add verb="GET" allowed="true" />
					<add verb="POST" allowed="true" />
				</verbs>
			</requestFiltering>
		</security>

		<staticContent>
			<mimeMap fileExtension="." mimeType="image/png" />
			<mimeMap fileExtension=".webapp" mimeType="application/x-web-app-manifest+json" />
		</staticContent>

		<httpRedirect enabled="true" exactDestination="true" httpResponseStatus="Permanent">
			<add wildcard="/kongregate.php" destination="http://ladybug.canvace.com/" />
		</httpRedirect>
	</system.webServer>
</configuration>
